<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441827924243-ersmru4ohe1l8pfnm28livvf4s5jpvlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441827924243-ersmru4ohe1l8pfnm28livvf4s5jpvlv</string>
	<key>API_KEY</key>
	<string>AIzaSyBv8NKIqC5-a17h6IpWEFGxHAPHxvwdnZY</string>
	<key>GCM_SENDER_ID</key>
	<string>441827924243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>project-mobile-f7cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>project-mobile-f7cf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441827924243:ios:54e6e6ba2c9af4113a62e6</string>
</dict>
</plist>